.navbar
  height: 32px
  background-color: $darkgrey
  &__top
    display: flex
    align-items: center
    height: 32px
    justify-content: space-between
  &__menu
    list-style-type: none
    display: flex
    justify-content: space-between
    width: 456px
    padding: 0
    &-link
      font-family: 'Intro Book', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 150%
      color: $white
  &__phone
    font-family: 'Intro Bold', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 150%
    color: $white
.hcenter
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 12px
  padding-bottom: 12px
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__search
    position: relative
    &-input
      width: 454px
      background-color: $whitegrey
      padding: 14px 50px 8px 25px
      border-radius: 4px
    &-button
      position: absolute
      left: 410px
      top: 10px
  &__group
    &-one
      display: flex
      justify-content: space-between
      align-items: center
      width: 640px
    &-two
      display: flex
      justify-content: space-between
      align-items: center
      width: 207px
    &-three
      border: 1px solid $grey
      border-radius: 4px
      padding: 10px 25px 10px 15px
    &-item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      cursor: pointer
    &-icon
      width: 17px
      height: 15.5px
      padding-top: 1px
      margin-bottom: 6px
    &-text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 150%
      color: $whitegrey-1
  &__basket
    display: flex
    align-items: center
    &-icon
      margin-right: 18px
    &-price
      font-style: normal
      font-weight: normal
      font-size: 13px
      line-height: 150%
.hbottom
  &__menu
    display: flex
    justify-content: space-around
    align-items: center
    &-item
      display: flex
      align-items: center
      list-style-type: none
    &-link
      text-transform: uppercase
      font-family: 'Intro Regular', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 160%
      color: $black
      &:nth-child(2)
        color: $orange
    &-image
      margin-right: 10px
.line
  position: absolute
  left: 0
  width: 100%
  height: 1px
  background-color: $grey
